main>.container {
    padding: 60px 15px 0;

}

body> main{
    margin-top:20px ;
    margin-bottom: 80px;
}

main>.container-fluid{
    padding-top: 60px;
}

.homeBG {
    width: 100%;
    background: url("/img/GridBG.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.homeText {
    font-family: modesto-open-shadow, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(195, 255, 0);
}

.minHeight{
    min-height: 80vh;
}