main>.container {
    padding: 60px 15px 0;

}

.homeBG {
    width: 100%;
    background: url("/img/GridBG.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.homeText {
    font-family: modesto-open-shadow, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(195, 255, 0);
}